body {
    display: flex;
    justify-content: center;
    align align-items: center;
    height: 100vh;
    background-color: rgb(19,11,59);
}

h1 {
    font-size: 15rem;
}

.letter {
    transition: color 100ms;
}